@import "../../variables";
@import "../../colors";

.categories {
  width: 100%;
  display: grid;
  font-size: 200px;
  grid-template-columns: repeat(2, 25%) 35% 15%;
  grid-template-rows: repeat(16, 85px);
  grid-auto-flow: row dense;
}

.categories-inner-group {
  display: grid;
  height: 100%;
  grid-template-rows: 1fr 1fr 0.5fr;

  .category__front {
    font-size: calc(12px + 0.1em);
  }

  .category__back {
    font-size: 0.17em
  }
}

.category {
  overflow: hidden;
  position: relative;
  width: 100%;

  &--join {
    grid-column: 1 /1;
    grid-row: 1 / span 8;
  }

  &--qa {
    grid-column: 1 / 1;
    grid-row: 9 / -1;
  }

  &--js {
    grid-column: 2 / 2;
    grid-row: 1 / span 12;
  }

  &--java {
    grid-column: 2 / 2;
    grid-row: 13 / -1;
  }

  &--php {
    grid-column: 3 / -1;
    grid-row: 1/ span 6;
  }


  &--net {
    grid-column: 3 / 4;
    grid-row: 7 / -1;
  }

  &--group {
    grid-column: 4 /4;
    grid-row: 7 / -1;
  }

  &--events {
    grid-row: 1 / 1;
  }

  &--blog {
    grid-row: 2;
  }

  &--flip-card {
    background-color: transparent;
    perspective: 1000px;
    height: 100%;

    &:hover,
    &:focus,
    &:focus-within {
      .category__flip-card-inner {
        transform: rotateY(180deg);
      }
    }
  }

  &__front,
  &__back {
    width: 100%;
    height: 100%;
    transition: $transition-default;
    background-color: $blocks-bg;
  }

  &__back {
    padding: 1em;
    font-size: calc(12px + 0.1em);
    overflow-y: auto;
    font-weight: bold;

    &--join {
      display: flex;
      align-items: center;
      justify-content: center;
    }

  }

  &__front {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    padding: 0.1em;
    left: 0;
    top: 0;
    font-size: calc(16px + 0.8em);
    font-weight: 400;
    color: white;
    background-color: $blocks-bg;
    transition: $transition-default;

    &--php {
      transform-origin: top right;
      background-color: $color-php;
      color: black;
      font-style: italic;
    }

    &--net {
      transform-origin: bottom right;
      background-color: $color-net;
    }

    &--js {
      background-color: $color-js;
      color: black;
      font-weight: 600;
      align-items: flex-end;
      justify-content: flex-end;
    }

    &--qa {
      background-color: $color-qa;
    }

    &--java {
      background-color: $color-java;
      font-size: calc(14px + 0.5em);
    }

    &--events {
      background-color: $color-3;
      transform-origin: right;
    }

    &--blog {
      background-color: $color-blog;
    }

    &--contacts {
      background-color: $color-contacts;
    }
  }
}

.category:hover,
.category:focus,
.category:focus-within {
  .category__front {
    &--net,
    &--php {
      transform: scale(0);
    }

    &--java {
      transform: translateY(100%);
    }

    &--contacts,
    &--blog,
    &--events {
      transform: translateX(100%);
    }
  }

}

.category__flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.8s;
  transform-style: preserve-3d;

  .category__front,
  .category__back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
  }

  .category__back {
    transform: rotateY(180deg);
  }
}

@media (max-width: $media-xl) {
  .categories {
    font-size: 7vw;
    grid-template-rows: repeat(16, 2.913vw);
  }
}

@media (max-width: $media-l) {
  .categories {
    grid-template-columns: 40% 10% 25% 25%;
    grid-template-rows: calc(40vw - var(--wrapperPadding)) repeat(2, 20vw);
  }


  .categories-inner-group .category__back {
    font-size: 14px
  }

  .category {
    &--join {
      grid-column: 1;
      grid-row: 1;
    }

    &--js {
      grid-column: 2 / span 2;
      grid-row: 1 / 1;
    }

    &--group {
      grid-column: 4;
      grid-row: 1;
    }

    &--java {
      grid-column: 1 / span 2;
      grid-row: 2;
    }
    &--php {
      grid-column: 3 / -1;
      grid-row: 2;
    }

    &--qa {
      grid-column: 1 / span 2;
      grid-row: 3;
    }

    &--net {
      grid-column: 3 / -1;
      grid-row: 3;
    }
  }
}

@media (max-width: $media-s) {
  .categories-inner-group,
  .categories {
    display: flex;
    flex-wrap: wrap;
  }

  .category {
    width: 50%;
    min-width: 200px;
    max-width: 100%;
    flex-grow: 1;
    min-height: 200px;
    height: calc(50vw - var(--wrapperPadding));

    &--group {
      order: 1;
      display: flex;
      flex-wrap: wrap;
      height: 100%;
      width: 100%;
    }


    &--contacts {
      height: 30vw;
      min-height: auto;
    }
  }
}

