.main {
  $verticalMargin: 30px;
  margin-top: $verticalMargin;
  margin-bottom: $verticalMargin;
  color: black;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  position: relative;
}

@import "./categories";
@import "./social-list";



