.social-list {
  display: flex;
  align-items: center;
  justify-content: center;

  &__item:not(:first-of-type) {
    margin-left: 0.4em;
  }

  &__link {
    color: black;
    font-size: 2em;

    &:hover {
      color: $color-3;
    }
  }
}
