.messages {
  position: fixed;
  right: 5px;
  bottom: 5px;
  width: 220px;
  display: flex;
  flex-direction: column-reverse;
  max-height: 100%;
  overflow: hidden;
}


.message {
  background-color: $color-js;
  opacity: 0.8;
  border-radius: 3px;
  color: white;
  display: flex;
  align-items: center;
  padding: 10px;
  width: 100%;
  text-align: left;
  transition: $transition-default;

  &:hover {
    opacity: 1;
  }

  &--success {
    background-color: #388F54;
  }

  &--error {
    background-color: $color-2;
  }

  &:not(:first-of-type) {
    margin-bottom: 5px;
  }

  &__icon {
    font-size: 20px;
    margin: 0 10px;
  }

  &__content {
    padding: 5px;
  }

  &__title {
    font-weight: bold;
  }

  &__info {
    font-size: 14px;
  }
}
