@import "./nav";
@import "./notification";
@import "./user-info";

@keyframes startHeader {
  0% {
    transform: translateY(-100%);
  }

  100% {
    transform: translateY(0);
  }
}

.header {
  $verticalPadding: 10px;

  padding-top: $verticalPadding;
  padding-bottom: $verticalPadding;
  background-color: $blocks-bg;
  transform: translateY(-100%);
  color: black;
  animation-name: startHeader;
  animation-duration: 0.8s;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
  position: sticky;
  top: 0;
  z-index: 2;

  &__wrapper {
    display: flex;
    justify-content: space-between;
  }

  &__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__logo {
    flex-shrink: 0;
  }
}
