.user-info {
  position: relative;
  z-index: 1;

  &__icon {
    $size: 36px;

    width: $size;
    height: $size;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: #F89A1F;
    border-radius: 50%;
    font-size: 1.4rem;
    color: white;
    cursor: pointer;
    opacity: 0.8;
    user-select: none;
    transition: $transition-default;

    &:hover {
      opacity: 1;
    }
  }

  &__content {
    visibility: hidden;
    pointer-events: none;
    width: 170px;
    background-color: $blocks-bg;
    padding: 14px 18px 0;
    position: absolute;
    bottom: -5px;
    right: 0;
    transition: $transition-default;
    transform: translateY(90%);
    opacity: 0;
    box-shadow: 0 0 1px 0 rgba(186, 192, 210, 0.5);
  }

  &__full-name {
    text-align: center;
    font-weight: 300;
    font-size: 14px;
    color: $second-color-user-info;
    border-bottom: 1px solid currentColor;
    padding-bottom: 5px;
  }

  &__nav {
    padding: 10px 10px 3px;
  }

  &__nav-item {
    margin-bottom: 5px;
  }

  &__link {
    color: inherit;
    text-decoration: none;
    display: inline-block;
    padding: 5px;
    width: 100%;
    &:hover,
    &:focus,
    &:focus-within {
      background-color: $second-color-user-info;
    }
  }
}

.user-info__checkbox {
  opacity: 0;
  position: absolute;

  &:focus + .user-info__icon {
    opacity: 1;
    outline: 1px dotted black;
  }

  &:checked {
    & ~ .user-info__content {
      opacity: 1;
      pointer-events: initial;
      visibility: visible;
      transform: translateY(100%);
    }

    & + .user-info__icon {
      opacity: 1;
    }
  }
}
