$color-main-bg: #F8FAFD;
$decor-color: #939CA8;
$blocks-bg: #FFF;
$color-1: #F6C95F;
$color-2: #C22139;
$color-3: #298FFE;
$color-4: #52BF77;
$color-5: #033993;


$color-js: $color-1;
$color-php: #7D88B8;
$color-events: $color-3;
$color-blog: $color-5;
$color-contacts: #021C47;
$color-java: $color-2;
$color-net: #581C6A;
$color-qa: $color-4;

$second-color-user-info: #BAC0D2

