:root {
  --wrapperPadding: 40px;
}

*, *::after, *::before {
  box-sizing: border-box;

  :focus {
    outline: 1px dashed black;
  }
}

html,
body {
  background-color: $color-main-bg;
  height: 100%;
  width: 100%;
}

body {
  color: white;
  font-family: 'Roboto', sans-serif;
  min-height: max-content;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.wrapper {
  margin: 0 auto;
  padding: 0 var(--wrapperPadding);
  max-width: 2800px;
  width: 100%;
  display: block;
}

.btn {
  background-color: $color-3;
  color: white;
  font-size: 1em;
  border-radius: 0.2em;
  padding: 0.6em 1.4em;
  text-decoration: none;
  font-weight: 400;
  display: inline-block;
  -webkit-appearance: none;
  transition: $transition-default;
  &:hover,
  &:focus {
    background-color: $color-5;
  }
}

@media (max-width: 800px) {
  :root {
    --wrapperPadding: 20px;
  }
}
